Source: lua-codegen
Section: interpreters
Priority: optional
Maintainer: nobody
Build-Depends: debhelper (>= 9), dh-lua
Standards-Version: 4.0.0
Homepage: http://fperrad.github.io/lua-CodeGen/

Package: lua-codegen
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: template engine
 lua-CodeGen is a "safe" template engine.
 .
 lua-CodeGen enforces a strict Model-View separation.
 .
 lua-CodeGen allows to split template in small chunk,
 and encourages the reuse of them by inheritance.
 .
 lua-CodeGen is not dedicated to HTML,
 it could generate any kind of textual code.

Package: lua-codegen-dev
Section: libdevel
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: lua-codegen doc
 This package contains the documentation of the lua-Codegen library.
